In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

## Understanding the `dataset` and _cleaning_

In [4]:
df.shape

(13320, 9)

In [5]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [6]:
df.groupby('area_type')['area_type'].count()

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [7]:
df1 = df.drop(['society','availability'], axis=1)
df1.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00

## Data Cleaning

In [8]:
df1['balcony'].fillna(value=0, inplace=True)

In [9]:
df1.isna().sum()

area_type      0
location       1
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

In [10]:
df2 = df1.dropna()
df2.isna().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [11]:
df2.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [12]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [13]:
df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

C:\Users\test\AppData\Local\Temp/ipykernel_2196/1853734267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

In [14]:
df2.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

In [15]:
df2['BHK'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [16]:
df2[df2['BHK']>20]

,area_type,location,size,total_sqft,bath,balcony,price,BHK
1718,Super built-up Area,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Plot Area,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [17]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [19]:
df2[~df['total_sqft'].apply(is_float)].sample(10)

C:\Users\test\AppData\Local\Temp/ipykernel_2196/917002996.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[~df['total_sqft'].apply(is_float)].sample(10)

,area_type,location,size,total_sqft,bath,balcony,price,BHK
6953,Super built-up Area,Hosa Road,3 BHK,142.61Sq. Meter,3.0,1.0,109.000,3
6587,Super built-up Area,Kadugodi,1 BHK,840 - 1010,1.0,0.0,40.700,1
11969,Super built-up Area,Thanisandra,1 BHK,620 - 934,1.0,0.0,38.460,1
4293,Built-up Area,Bannerghatta Road,4 BHK,315Sq. Yards,5.0,0.0,260.000,4
5285,Super built-up Area,Rachenahalli,1 RK,385 - 440,1.0,0.0,19.800,1
6581,Super built-up Area,Sarjapur Road,3 BHK,1270 - 1275,2.0,0.0,40.720,3
9299,Super built-up Area,Balagere,1 BHK,645 - 936,1.0,0.0,42.295,1
10439,Super built-up Area,ITPL,2 BHK,854 - 960,2.0,0.0,55.430,2
9285,Carpet Area,Hormavu,1 BHK,527 - 639,1.0,0.0,28.275,1
1694,Super built-up Area,JP Nagar,4 BHK,4000 - 5249,4.0,0.0,314.500,4

In [20]:
def covert_range_sqft_to_float(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return ((float(tokens[0])+float(tokens[1]))/2)
    try:
        return float(x)
    except:
        return None

In [21]:
df3 = df2.copy()
df3['total_sqft'] = df.total_sqft.apply(covert_range_sqft_to_float)

In [22]:
df3.head(10)

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2
5,Super built-up Area,Whitefield,2 BHK,1170.0,2.0,1.0,38.00,2
6,Super built-up Area,Old Airport Road,4 BHK,2732.0,4.0,0.0,204.00,4
7,Super built-up Area,Rajaji Nagar,4 BHK,3300.0,4.0,0.0,600.00,4
8,Super built-up Area,Marathahalli,3 BHK,1310.0,3.0,1.0,63.25,3
9,Plot Area,Gandhi Bazar,6 Bedroom,1020.0,6.0,0.0,370.00,6

In [23]:
df4 = df3.copy()
df4['price_per_sqft'] = df4['price']*100000/df4['total_sqft']

In [24]:
df4.head()

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [27]:
len(df.location.unique()),len(df4.area_type.unique())

(1306, 4)

In [28]:
df4.location = df4.location.apply(lambda x: x.strip())

In [33]:
location_stats = df4.groupby('location')['location'].count().sort_values(ascending=False)
location_stats

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [39]:
loaction_stat_less_10 = location_stats[location_stats<=10]

In [37]:
df4.location = df['location'].apply(lambda x: 'other' if x in loaction_stat_less_10 else x)
df4.sample(20)

,area_type,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
1224,Super built-up Area,Rayasandra,3 BHK,1314.0,2.0,2.0,63.00,3,4794.520548
3663,Super built-up Area,Hoodi,2 BHK,1132.0,2.0,1.0,89.37,2,7894.876325
6542,Super built-up Area,other,3 BHK,1504.0,2.0,2.0,100.00,3,6648.936170
9289,Super built-up Area,HSR Layout,2 BHK,1145.0,2.0,2.0,46.00,2,4017.467249
8154,Plot Area,other,9 Bedroom,1200.0,8.0,3.0,270.00,9,22500.000000
11510,Super built-up Area,Uttarahalli,3 BHK,1245.0,2.0,2.0,43.58,3,3500.401606
7928,Super built-up Area,other,2 BHK,1175.0,2.0,1.0,48.72,2,4146.382979
10233,Super built-up Area,Kannamangala,4 BHK,2422.0,4.0,3.0,135.00,4,5573.905863
4162,Built-up Area,other,4 Bedroom,7000.0,5.0,0.0,2050.00,4,29285.714286
3262,Super built-up Area,Thigalarapalya,4 BHK,4190.0,4.0,3.0,380.00,4,9069.212411
510,Plot Area,other,4 Bedroom,1200.0,3.0,1.0,165.00,4,13750.000000
3637,Super built-up Area,Kanakpura Road,2 BHK,1051.0,2.0,2.0,56.74,2,5398.667935
5251,Plot Area,other,4 Bedroom,1100.0,5.0,2.0,121.00,4,11000.000000
9827,Super built-up Area,Chandapura,2 BHK,750.0,1.0,1.0,18.50,2,2466.666667
12023,Super built-up Area,Subramanyapura,3 BHK,1800.0,3.0,0.0,80.00,3,4444.444444
13201,Super built-up Area,Jakkur,2 BHK,1125.0,2.0,1.0,44.75,2,3977.777778
12087,Super built-up Area,Cunningham Road,3 BHK,2880.0,3.0,2.0,560.00,3,19444.444444
8307,Super built-up Area,TC Palaya,3 BHK,1200.0,2.0,0.0,66.00,3,5500.000000
4534,Plot Area,Ramamurthy Nagar,2 Bedroom,600.0,3.0,2.0,45.00,2,7500.000000
6849,Built-up Area,R.T. Nagar,2 BHK,1200.0,2.0,2.0,60.00,2,5000.000000